* {
  box-sizing: border-box;
}

.row {
	margin-top:20px;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-gap: 10px;
}

/* Create two equal columns that sits next to each other */
.column {
  border-radius: 10px;
  flex: 50%;
  padding: 10px;
  border: thick double #343409;
  margin-right : 10px;
  max-height : 400px;
}

.title{
	margin-top : 5px;
	font-weight: bold;
	font-size: larger;
	color:red;
}

.article{
	position: relative;
}
.author, .date{
	text-align : right;
}

@media screen and (max-width: 900px) {
  .column {
    width: 100%;
  }
}

input.stylebutton {
  
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
  border: solid thin #343409;
  text-shadow: none;
  background-color: #F7E9D4;
  color: buttontext;
  padding: 6px 10px;
  margin: 10px;
  text-decoration: none;
  border-radius: 10px;
}

input.stylebutton:hover {
  background-image: url(../img/delete.jpg), -webkit-linear-gradient(top, #DDDDDD, #F6F6F6);
  background-image: url(../img/delete.jpg), -moz-linear-gradient(top, #DDDDDD, #F6F6F6);
  background-image: url(../img/delete.jpg), -ms-linear-gradient(top, #DDDDDD, #F6F6F6);
  background-image: url(../img/delete.jpg), -o-linear-gradient(top, #DDDDDD, #F6F6F6, #DDDDDD);
  background-image: url(../img/delete.jpg), linear-gradient(to bottom, #DDDDDD, #F6F6F6);    
}

.DeleteArticle{
	background : url(../img/delete.jpg) no-repeat 100%;
	background-position: center; 
	width : 42px;
	height : 37.5px;
}

.DeleteAdd{
	display: flex;
    align-items: center;
    justify-content: center;
}

.return_button{
	right:48%;
}

.image{
	margin: 0px;
	padding: 6px;
	max-width: 300px;
	max-height : 300px;
}

.preview{
	max-width: 40%;
	max-height : 40%;
}