.carousel{
	position:relative;
	overflow: hidden;
}

#carousel1{
	position:relative;
}

.carousel__container::after{
	content: '';
	clear: both;
	display: table;
}

.item__image{
	height : 300px;
}

.carousel__item{
	display:inline-block;
}

.item {
 box-shadow:0 15px 35px #3232321a,0 5px 15px #0000001a;
 transition:transform .3s;
 transform:translate3d(0,-1px,0)
}
.item:hover {
 transform:translate3d(0,-10px,0)
}


.item img {
 display:inline-block;
 width:300px;
 max-height : 300px;
}

.item__body {
 padding:25px
}
.item__title {
 font-size:24px;
 margin-bottom:5px;
 font-weight:700;
}

.carousel,
.items {
 position:relative
}
.carousel {
 margin-bottom:30px
}
.carousel__container {
 transition:transform .3s;
 transform:translateZ(0)
}

.carousel__next,
.carousel__prev {
 position:absolute;
 width:40px;
 height:40px;
 background:url(../img/nextButton.png) 50% no-repeat;
 border-radius:50%;
 top:50%;
 margin-top:-20px;
 right:-20px;
 box-shadow:0 15px 35px #3232321a,0 5px 15px #0000001a;
 cursor:pointer;
 transition:transform .3s,opacity .3s
}
.carousel__next:hover,
.carousel__prev:hover {
 transform:scale(1.2)
}
.carousel__prev {
 background-image:url(../img/prevButton.png);
 right:auto;
 left:-20px
}
.carousel__next--hidden,
.carousel__prev--hidden {
 opacity:0
}

/*img{
	max-width : 300px;
	max-height : 300px;
}*/

.delete_img{
	background : url(../img/delete_img.jpg) no-repeat 100%;
	background-position: center; 
	width : 42px;
	height : 37.5px;
}

input.stylebutton:hover {
  background-image: url(../img/delete_img.jpg), -webkit-linear-gradient(top, #DDDDDD, #F6F6F6);
  background-image: url(../img/delete_img.jpg), -moz-linear-gradient(top, #DDDDDD, #F6F6F6);
  background-image: url(../img/delete_img.jpg), -ms-linear-gradient(top, #DDDDDD, #F6F6F6);
  background-image: url(../img/delete_img.jpg), -o-linear-gradient(top, #DDDDDD, #F6F6F6, #DDDDDD);
  background-image: url(../img/delete_img.jpg), linear-gradient(to bottom, #DDDDDD, #F6F6F6);    
}