@font-face { 	font-family: "PASTOROF"; 	src: url('../fonts/metallica/PASTOROF.ttf'); }

a{
	color: black;
	text-decoration: none;
}

a.stylebutton {
  
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
  border: solid thin #343409;
  text-shadow: none;
  background: #F7E9D4;
  color: buttontext;
  padding: 6px 10px;
  margin: 10px;
  text-decoration: none;
  border-radius: 10px;
}

a.stylebutton:hover {
  background-image: -webkit-linear-gradient(top, #DDDDDD, #F6F6F6);
  background-image: -moz-linear-gradient(top, #DDDDDD, #F6F6F6);
  background-image: -ms-linear-gradient(top, #DDDDDD, #F6F6F6);
  background-image: -o-linear-gradient(top, #DDDDDD, #F6F6F6, #DDDDDD);
  background-image: linear-gradient(to bottom, #DDDDDD, #F6F6F6);    
}

input{
	border: solid thin #343409;
	background: #F7E9D4;
	border-radius: 10px;
	height : 20px;
	margin:10px;
}

input:hover {
  background-image: -webkit-linear-gradient(top, #DDDDDD, #F6F6F6);
  background-image: -moz-linear-gradient(top, #DDDDDD, #F6F6F6);
  background-image: -ms-linear-gradient(top, #DDDDDD, #F6F6F6);
  background-image: -o-linear-gradient(top, #DDDDDD, #F6F6F6, #DDDDDD);
  background-image: linear-gradient(to bottom, #DDDDDD, #F6F6F6);    
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #343409;
}

ul li {float: left;}

ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

@media screen and (max-width: 600px ){
  ul li, 
  ul li {float: none;}
  
  footer{
	text-align: center;
	color:white;
	background-color: #343409;
    left: 0;
    bottom: 0;
    height: 50px;
    width: 100%;
    overflow: hidden;
	position: relative !important;
  }
}

@media screen and (max-height: 870px ){
  textarea{
	height: 200px !important;
}
}


@media screen and (max-height:1080px) {
  
  footer{
	text-align: center;
	color:white;
	background-color: #343409;
    left: 0;
    bottom: 0;
    height: 50px;
    width: 100%;
    overflow: hidden;
	position: relative !important;
  }
}

ul li a:hover:not(.active) {background-color: #111;}

ul li a.active {background-color: #4424D6;}



section{
	text-align: center;
	background-color: #ffd24d;
	width: 100%;
}

h2{
	color:#342E09;
}


footer{
	text-align: center;
	color:white;
	background-color: #343409;
	position: absolute;
    left: 0;
    bottom: 0;
    height: 50px;
    width: 100%;
    overflow: hidden;
}

body{
	background-color:#ffff66;
}

h1{
	font-family:PASTOROF;
	font-size:50px;
	color:red;
}

h2{
	color:red;
}

label{
  display: inline-block;
  width: 10%;
  text-align: right;
}

textarea{
	width: 500px;
	height: 500px;
	margin:10px;
}

div.ProButton{
	display: flex;
    align-items: center;
    justify-content: center;
}