.tooltip {
  position: relative;
  display: inline-block;
  
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #343409;
  color: white;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  border: 1px solid white;

  /* Position the tooltip */
  position: absolute;
  top: 75% ;
  margin-left: -10%;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.tooltip .tooltiptextLeft {
  visibility: hidden;
  width: 120px;
  background-color: #343409;
  color: white;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  border: 1px solid white;

  /* Position the tooltip */
  position: absolute;
  margin-right: -10%;
  z-index: 1;
}

.tooltip:hover .tooltiptextLeft {
  visibility: visible;
}